
<mat-toolbar color="primary">
    Registrar Nuevo
  </mat-toolbar>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center" #f="ngForm">
  <div class="form-create">
    
    <div>
      <mat-form-field>
          <input matInput placeholder="id" formControlName="id">
      </mat-form-field>
    </div>

      <div class="mt-top-2">
        <mat-form-field>
          <input matInput placeholder="Cod" formControlName="codigo">
          <mat-error *ngIf="!createForm.get('codigo')?.errors?.required && (createForm.get('codigo')?.errors?.pattern)">
            Ingrese codigo
          </mat-error>
          <mat-error *ngIf="createForm.get('codigo')?.invalid && (createForm.get('codigo')?.dirty || createForm.get('codigo')?.touched) && createForm.get('codigo')?.errors?.required">
            Codigo es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
            <input matInput placeholder="descripcion" formControlName="descripcion">
            <mat-error *ngIf="!createForm.get('descripcion')?.errors?.required && (createForm.get('descripcion')?.errors?.pattern)">
              Ingrese descripcion
            </mat-error>
            <mat-error *ngIf="createForm.get('descripcion')?.invalid && (createForm.get('descripcion')?.dirty || createForm.get('descripcion')?.touched) && createForm.get('descripcion')?.errors?.required">
                Descripcion es requerido
            </mat-error>
          </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
            <input matInput placeholder="fecha" formControlName="fecha" type="date">
        </mat-form-field>
      </div>

      <div class="my-10">
        <mat-form-field>
          <input matInput readonly placeholder="Coleccion" formControlName="collection_name" [value]="'registros'">
        </mat-form-field>
      </div>  
         
      <!-- show errors messages -->  
      <div class="alert alert-danger small p-2 mt-2" role="alert" *ngIf="errorMessage">
        Error: {{ errorMessage | json }}
      </div>
        <!-- [disabled]="!createForm.valid" -->
      <div class="create-button-row">
        <button mat-raised-button class="btn btn-primary" style="width: 150px; margin-right:5px" color="primary">Registrar</button>
        <button mat-raised-button class="btn btn-default" (click)="this.onChange.emit(1);">Cancelar</button>
      </div>
       
  </div>
</form>